<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>RT taxonomic screening</title>
</head>
<body>
  <div id="plot"></div>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <p>Last updated: <span id="mod-time">{{ mod_time_str }}</span></p>
  <script>
    var plot_json = {{ plot_json | safe }};
    Plotly.newPlot('plot', plot_json);

    function refreshPlot() {
      fetch('/plot')
        .then(function(response) { return response.json(); })
        .then(function(plotData) {
          Plotly.react('plot', plotData.data, plotData.layout);
        });

      fetch('/mod_time')
        .then(function(response) { return response.text(); })
        .then(function(modTimeStr) {
          var modTimeEl = document.getElementById('mod_time');
          modTimeEl.innerHTML = modTimeStr;
        });
    }

    setInterval(refreshPlot, 1000);
  </script>
</body>
</html>
